@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Funnel Sans";
}
/* Variaveis para guardar valores no CSS */
:root {
    --cor--01: #000;
    --cor--02: #06c;
    --cor--03: #CCC;
    --cor--04: #fff;
}
body{
    padding-top: 100px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
#cabecalho {
    background-color: var(--cor--01);
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    
}
#cabecalho #logo{
    width: 30px;
}
#cabecalho .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu ul {
    display: flex;
}
#menu ul li{
    list-style: none; 
}
#menu .submenu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--cor--01);
}

#menu ul li a{
    color: var(--cor--04);
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    transition: all .3s linear;
}
#menu ul li a:hover{
    background-color: var(--cor--02);
}
#menu ul li:hover .submenu{
    display: block;
}
.conteudo .titulo{
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

#historia img{
    width: 400px;
    float: left;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#historia p{
    text-align: justify;
    margin-bottom: 15px;
}
#fotos #galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
#fotos #galeria img{
    display: block;
    width: 100%;
    transition: all .2
    s linear;
}
#fotos #galeria img:hover{
    transform: scale(1.1);
}
#rodape{
    
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    font-size: 15px;
}
#rodape a {
    color: var(--cor--04);
    text-decoration: none;
}
#rodape a:hover{
    text-decoration: underline;
    color: var(--cor--02);
}
#videos #galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}